# Build artifacts etc.
[Bb]in/
[Oo]bj/
[Pp]ackages/
artifacts/
.publish
.fake
.terraform/

# Exclude files in logs folder except for placeholders
*/[Ll]ogs/*
!*/[Ll]ogs/Placeholder.txt

# IDE-specific
.idea/
.vs/
/_ReSharper.Caches/

# git merge files
*.orig

# User-specific
*.suo
*.user

# Compressed files
*.zip
.sonarqube/

# Env files
.env

/NuGet.Config

# MacOS system files
.DS_Store